* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

p,
span,
h3,
h4 {
  margin: 0;
  padding: 0;
}

input:focus,
button:focus,
textarea:focus {
  outline: none;
}

.container {
  margin: 0 auto;
}

.header {
  padding-top: 40px;
  background-color: #f5f5f5;
  background-size: cover;
}

.header-text {
  text-align: center;
  opacity: 0.94;
  color: #626262;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 1%;
}

.header-logo__border {
  width: 150px;
  height: 55px;
  line-height: 47px;
  border-radius: 2px;
  border: 4px solid #170f1c;
  opacity: 0.6;
  text-align: center;
}

.header-logo__text {
  font-size: 38px;
  font-weight: 400;
}

.header-form {
  width: 372px;
  padding: 25px 39px;
  text-align: center;
  -webkit-box-shadow: 0 0 57px rgba(20, 20, 21, 0.2);
  box-shadow: 0 0 57px rgba(20, 20, 21, 0.2);
  border-radius: 2px;
  background-color: #ffffff;
}

.header-form__input {
  display: block;
  width: 294px;
  padding-top: 35px;
  opacity: 0.6;
  color: #000000;
  font-size: 15px;
  font-weight: 400;
  border: none;
  border-bottom: 1px solid #000000;
}

.header .form-title {
  opacity: 0.9;
  font-size: 20px;
  font-weight: 400;
  color: #211a18;
}

.color-text {
  color: #fc6744;
}

.line {
  display: block;
  width: 34px;
  height: 4px;
  border-radius: 2px;
  background-color: #170f1c;
  opacity: 0.6;
}

.line:after {
  display: block;
  content: "";
  width: 34px;
  height: 4px;
  border-radius: 2px;
  background-color: #170f1c;
  position: absolute;
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
}

.line:before {
  display: block;
  content: "";
  width: 34px;
  height: 4px;
  border-radius: 2px;
  background-color: #170f1c;
  position: absolute;
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

.section-text {
  padding-top: 109px;
  padding-bottom: 136px;
  text-align: center;
  opacity: 0.94;
  color: #626262;
}

.section-text__title {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 26px;
}

.section-text__descr {
  display: inline-block;
  max-width: 783px;
  padding-left: 19px;
  padding-right: 19px;
  opacity: 0.65;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
}

.button {
  border-radius: 30px;
  border: 1px solid rgba(1, 2, 2, 0.07);
  background-color: #ff5c36;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  padding: 20px 66px;
  margin-top: 20px;
}

.button:hover {
  -webkit-box-shadow: 2px 11px 20px rgba(20, 20, 21, 0.08);
  box-shadow: 2px 11px 20px rgba(20, 20, 21, 0.08);
  cursor: pointer;
}

.button_light {
  position: absolute;
  left: 50%;
  margin-left: -45%;
  bottom: -30px;
  width: 90%;
  background-color: #ffffff;
  color: #000000;
  padding: 20px;
}

.button_mid {
  border: 1px solid rgba(1, 2, 2, 0.07);
  background-color: #ffffff;
  color: #000000;
  position: absolute;
  bottom: 0;
  left: 129px;
}

.button-contact {
  width: 238px;
  height: 55px;
  border-radius: 27px;
  border: 1px solid rgba(1, 2, 2, 0.07);
  background-color: #fdfdfd;
  color: #000000;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
}

.button-contact:hover {
  -webkit-box-shadow: 2px 11px 20px rgba(20, 20, 21, 0.08);
  box-shadow: 2px 11px 20px rgba(20, 20, 21, 0.08);
  cursor: pointer;
}

.plus {
  vertical-align: middle;
  margin-right: 9px;
  width: 16px;
  height: 2px;
  display: inline-block;
  background-color: #000000;
  opacity: 0.7;
}

.plus:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 2px;
  display: inline-block;
  background-color: #000000;
  -webkit-transform: translateY(0px) translateX(-8px) rotate(90deg);
  transform: translateY(0px) translateX(-8px) rotate(90deg);
}

.work-proc {
  padding-bottom: 157px;
}

.proc-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.proc-box__icon {
  font-size: 50px;
}

.proc-box__item {
  position: relative;
  width: 262px;
  text-align: center;
  padding: 53px 5px 5px;
  color: #ffffff;
}

.proc-box__item:hover {
  -webkit-box-shadow: 0 0 35px rgba(20, 20, 21, 0.21);
  box-shadow: 0 0 35px rgba(20, 20, 21, 0.21);
}

.proc-box__item_blue {
  background-color: #4eb2f7;
}

.proc-box__item_purple {
  background-color: #c049f8;
}

.proc-box__item_indigo {
  background-color: #817eff;
}

.proc-box__item_red {
  background-color: #f74770;
}

.proc-item__text {
  margin-bottom: 66px;
}

.proc-item__title {
  opacity: 0.7;
  font-size: 20px;
  font-weight: 400;
}

.proc-item__descr {
  opacity: 0.75;
  font-size: 15px;
  font-weight: 400;
}

.fa-camera-retro {
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
}

.features {
  background-color: #fbfbfb;
  padding-bottom: 109px;
}

.features-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.features-box__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  text-align: center;
  height: 360px;
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  margin-bottom: 27px;
  background: #ff5c36 url("../images/fetures/features.jpg") center no-repeat;
  background-size: cover;
}

.features-box__item:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0);
}

.features-box__item:hover:after {
  background-color: rgba(0, 0, 0, 0.5);
}

.features-item__text {
  z-index: 1;
  color: #ffffff;
  opacity: 0;
}

.features-item__text:hover {
  opacity: 1;
}

.services {
  padding-bottom: 109px;
}

.services-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.services-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services-item {
  display: block;
  position: relative;
  list-style: none;
  width: 104px;
  height: 92px;
  -webkit-box-shadow: 0 0 0 rgba(20, 20, 21, 0.07);
  box-shadow: 0 0 0 rgba(20, 20, 21, 0.07);
  border-radius: 2px;
  background-color: #fbfbfb;
  margin: 5px auto;
}

.services-item:hover {
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 36px rgba(20, 20, 21, 0.2);
  box-shadow: 0 0 36px rgba(20, 20, 21, 0.2);
  cursor: pointer;
}

.services-text {
  position: relative;
  -webkit-box-flex: 3;
  -ms-flex-positive: 3;
  flex-grow: 3;
  padding-left: 129px;
  padding-right: 84px;
  font-weight: 400;
  opacity: 0.75;
  color: #000000;
}

.services-text__title {
  font-size: 30px;
  margin-bottom: 10px;
}

.services-text__article {
  font-size: 16px;
}

.services-img {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.services-line {
  display: inline-block;
  width: 57px;
  height: 3px;
  margin-bottom: 10px;
  background-color: #ff5c36;
}

.icon-img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.icon-img_circle {
  position: absolute;
  bottom: 0;
  right: 10px;
}

.faq {
  background-color: #fbfbfb;
}

.faq-item {
  border: 2px solid #ff5c36;
  border-radius: 5px;
  margin: 10px 0;
}

.faq-item__title {
  border-bottom: 1px solid grey;
  font-size: 30px;
  padding-left: 20px;
  line-height: 57px;
  opacity: 0.8;
  background-color: #fff;
}

.faq-item__answer {
  font-size: 20px;
  padding: 20px 20px;
  opacity: 0.8;
}

.feed {
  padding-bottom: 109px;
}

.feed-box {
  text-align: center;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 20px;
}

.feed-box__shadow {
  -webkit-box-shadow: 0 0 27px rgba(20, 20, 21, 0.09);
  box-shadow: 0 0 27px rgba(20, 20, 21, 0.09);
  padding-top: 50px;
  padding-bottom: 38px;
}

.feed-box__img {
  width: 99px;
  height: 99px;
  border-radius: 50%;
  margin: 0 auto -49px auto;
}

.feed-box__comment {
  opacity: 0.7;
  color: #000000;
  font-size: 17px;
  font-weight: 400;
  margin-top: 50px;
  margin-bottom: 19px;
  padding: 0 65px;
}

.feed-author {
  opacity: 0.8;
  color: #000000;
  font-size: 17px;
  font-weight: 400;
  font-style: italic;
  margin-top: 22px;
}

.feed-author span {
  font-weight: 600;
  font-family: "Source Sans Pro - Semibold";
}

.fa-star {
  color: #ffef3b;
  font-size: 12px;
}

.feedback-slider__arrows {
  position: absolute;
  top: 50%;
  height: 48px;
  width: 48px;
  padding: 18px;
  text-align: center;
  border-radius: 50%;
  -webkit-box-shadow: 1px 3px 14px rgba(20, 20, 21, 0.08);
  box-shadow: 1px 3px 14px rgba(20, 20, 21, 0.08);
  -webkit-transform: translateY(-24px);
  transform: translateY(-24px);
  z-index: 999;
}

.feedback-slider__arrows:hover {
  background-color: #ff6e47;
  color: #ffffff;
  cursor: pointer;
}

.feedback-slider__arrows_left {
  left: 0;
}

.feedback-slider__arrows_right {
  right: 0;
}

.slick-active {
  outline: none;
}

.slick-dots li button:before {
  width: 18px;
  height: 6px;
  border-radius: 3px;
  background-color: #e0e0e0;
  color: transparent;
}

.slick-dots li.slick-active button:before {
  background-color: #ff6e47;
}

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f7f7f7;
}

.footer-box {
  text-align: center;
}

.popup-overlay {
  display: none;
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.popup-window {
  width: 400px;
  height: 400px;
  position: fixed;
  top: 10%;
  left: 50%;
  margin-left: -200px;
  background-color: #ffffff;
}

.popup-close {
  font-size: 30px;
  color: #000000;
  text-decoration: none;
  position: absolute;
  top: 0;
  right: 0;
}

.popup-close:hover {
  opacity: 0.7;
}

.box {
  width: 150px;
  height: 150px;
  background-color: red;
  color: red;
}

@-webkit-keyframes move {
  from {
    margin-left: 0;
    border-radius: 5px;
  }

  50% {
    margin-left: 100px;
    border-radius: 40px;
  }

  to {
    margin-left: 200px;
    border-radius: 5px;
  }
}

@keyframes move {
  from {
    margin-left: 0;
    border-radius: 5px;
  }

  50% {
    margin-left: 100px;
    border-radius: 40px;
  }

  to {
    margin-left: 200px;
    border-radius: 5px;
  }
}

@media (max-width: 991px) {
  .proc-box {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .proc-box__item {
    margin-bottom: 50px;
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
  }

  .features-box {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .features-box__item {
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
  }
}

@media (max-width: 767px) {
  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .section-text__title {
    font-size: 45px;
  }

  .section-text__descr {
    padding-left: 25px;
    padding-right: 25px;
    font-size: 15px;
  }

  .proc-box {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .proc-box__item {
    margin-bottom: 50px;
  }

  .features-box {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .features-box__item {
    -ms-flex-preferred-size: 350px;
    flex-basis: 350px;
  }
}